<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.abtion.neuqercc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NEUQerCCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity android:name=".account.activities.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".account.activities.RegisterActivity"/>

        <activity android:name=".account.activities.UpdatePasswordActivity"/>

        <activity android:name=".main.MainActivity" />

        <activity android:name=".home.activities.CompetitionActivity"/>

        <activity android:name=".mine.activities.UpdateInformationActivity"/>

        <activity android:name=".mine.activities.SettingActivity"/>


    </application>

</manifest>